body{
    font-family: Arial, Helvetica, sans-serif;
   /* background-image: url(../img/fon.png); */
    
   background-image: url("../img/Pozadi.png");
   height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }


h1{
    background-color: #3339eebd  !important;
    color: #ecdfcf;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(28, 16, 7), 0 0 25px blue, 0 0 5px darkblue;

  }

  h2{
    color: #f5f1eb;
    text-shadow: 1px 1px 2px rgb(28, 16, 7), 0 0 25px blue, 0 0 5px darkblue;

    
   
  }
  
      /* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(170, 187, 209);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #0a0a0a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    text-decoration:underline ;
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #383edd;
    border-radius: 2px;
    color: rgb(236, 235, 235);
  }

main{
  margin-left: auto;
}

}
.topnav {
 

}
div .topnav{
  background-color: #b9bcf8ad ;
}



   